ekf_local:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.1
    two_d_mode: false

    publish_tf: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # ---- IMU ----
    imu0: /demo/imu
    imu0_config: [false, false, false,
                  true,  true,  true,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_remove_gravitational_acceleration: true

    # ---- Local odom source ----
    odom0: /demo/odom
    odom0_config: [true,  true,  false,
                    false, false, false,
                    false, false, false,
                    false, false, true,
                    false, false, false]

